@page "/workingreport/search"
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div class="page-header text-align-center">
    @TextResources.APP_StringKeys_WorkingReport_Search
</div>
<div class="pages-workingreport-search text-align-center">
    <EditForm Model="Request"
              OnInvalidSubmit="OnInvalidSubmit"
              OnValidSubmit="OnValidSubmit">
        <div class="search-box">
            <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Row="true" Spacing="2">
                <div class="form-group" style="flex-grow: 1;">
                    <MudDatePicker Label="@TextResources.APP_StringKeys_Date"
                                   @bind-Date="Request.Date"
                                   Culture="@MudblazorDatePickerHelper.GetPersianCulture()"
                                   TitleDateFormat="dddd, dd MMMM" 
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   PickerVariant="PickerVariant.Dialog" />
                </div>
                <button type="submit"
                        class="btn btn-success"
                        style="width: 45px; height: 40px; display: flex; align-items: center; justify-content: center;">
                    <MaterialIcon IconName="@MaterialIconsHelper.Search"></MaterialIcon>
                </button>
                <NavLink href="/workingreport/add"
                         Match="NavLinkMatch.All"
                         class="btn btn-primary page-floating-button-bottom"
                         style="width: 45px; height: 40px; display: flex; align-items: center; justify-content: center;">
                    <MaterialIcon IconName="@MaterialIconsHelper.Add"></MaterialIcon>
                </NavLink>
            </MudStack>
        </div>
    </EditForm>
    @if (Reports is not null)
    {
        <hr />
        <div class="div-summary">
            جمع ساعات کاری روز:
            @Reports.Sum(p => p.SpentHours)
        </div>
        <hr />
        <div class="div-ver-overflow">
            <Virtualize Items="Reports"
                        ItemSize="10"
                        OverscanCount="10">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@context.PersianDate</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">
                            <MaterialIcon IconName="@MaterialIconsHelper.Timer"></MaterialIcon>
                            @context.SpentHours
                        </MudText>
                        <MudText Typo="Typo.body2">
                            <MaterialIcon IconName="@MaterialIconsHelper.Title"></MaterialIcon>
                            @context.Desc
                        </MudText>
                        <MudText Typo="Typo.body2">
                            <MaterialIcon IconName="@MaterialIconsHelper.Work"></MaterialIcon>
                            @context.WorkTypeDescription
                        </MudText>
                    </MudCardContent>
                    <MudCardActions Class="text-align-center">
                        <NavLink href="@($"/workingreport/edit/{context.Id}")"
                                 Match="NavLinkMatch.All"
                                 class="btn btn-secondary">
                            <MaterialIcon IconName="@MaterialIconsHelper.Edit"></MaterialIcon>
                        </NavLink>
                    </MudCardActions>
                </MudCard>
            </Virtualize>
        </div>
    }

    <MudOverlay Visible="IsLoading"
                DarkBackground="true">
        @TextResources.APP_StringKeys_Loading
        <MudProgressCircular Color="Color.Primary"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudOverlay>
</div>
